/* The Events Calendar Category Colors 6.5.0 */
.teccc-legend a, .tribe-events-calendar a, #tribe-events-content .tribe-events-tooltip h4
{
	font-weight: ;
}

.tribe-events-list .vevent.hentry h2 {
	padding-left: 5px;
}

@media only screen and (max-width: 768px) {
	.tribe-events-calendar td .hentry,
	.tribe-events-calendar td .type-tribe_events {
		display: block;
	}

	h3.entry-title.summary,
	h3.tribe-events-month-event-title,
	.tribe-events-calendar .tribe-events-has-events:after {
		display: none;
	}

	.tribe-events-calendar .mobile-trigger .tribe-events-tooltip {
		display: none !important;
	}
}
.tribe-events .tribe-events-calendar-month__multiday-event-bar,
.tribe-events .tribe-events-calendar-month__multiday-event-bar-inner,
.tribe-events-calendar-month__multiday-event-wrapper,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-bar-inner,
.tribe-events-pro .tribe-events-pro-week-grid__multiday-event-wrapper
{ background-color: #F7F6F6; }

